body {
	// background-color: #dcd9d4;
	// background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
	// 	radial-gradient(at 50% 0%, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.5) 50%);
	// background-blend-mode: soft-light, screen;
	background-image: linear-gradient(265deg, #e0e0e0 0%, #e2d1c3 100%);
}
main {
	& section {
		& #root {
			// overflow: hidden;
			// background-image: url(../img/logotype.jpg);
			// background-repeat: no-repeat;
			// background-size: contain;
			background-color: #151517;
			color: rgb(253, 249, 240);
			box-shadow: 0px 5px 5px #00000040;

			padding: rem(10) 0 0;
			display: flex;
			justify-content: space-around;
			text-align: center;
		}
	}
}

.logo {
	width: 40%;
}
.title-s,
.title-p {
	color: #d1d5d6;
	letter-spacing: 1.8px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: rem(22);
}
.storage,
.pension {
	margin-bottom: 0.8em;
}

.form-calc {
	display: flex;
	flex-direction: column;
	& label {
		& input {
			margin-left: 1.1em;
			width: 100px;
		}
	}
}

.chart-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	margin: 0 auto 50px;
	border-radius: 10px;
}

.form-calc label {
	margin-top: 0.5em;
	display: flex;
	justify-content: space-between;
	position: relative;
	color: rgb(209, 213, 214);
	letter-spacing: 1.1px;
	font-size: rem(19);
}

.form-calc label input {
	border: none;
	font-size: rem(19);
	border-bottom: 1px solid rgb(137, 137, 140);
	color: rgb(209, 213, 214);
	text-align: center;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
	transition: 0.5s ease;
}

.form-calc label input:hover {
	border-color: rgb(256, 256, 256);
}
.form-calc label input:disabled {
	// color: rgb(144, 202, 249);
	color: rgb(209, 213, 214);
	border-color: rgb(256, 256, 256);
}

.form-calc input::before {
	content: '*';
	width: 18px;
	right: 0;
	position: absolute;
}

.form-calc label::after {
	content: '';
	position: absolute;
	right: 20%;
	bottom: 15px;
	height: 100%;
	width: 100px;
	border-bottom: 2px solid rgb(19, 111, 98);
	transition: right 0.3s ease, opacity 0.3s ease;
	opacity: 0;
}

.form-calc label.active::after {
	right: 0;
	opacity: 1;
}

.form-calc label input:disabled {
	color: rgb(222, 145, 81);
	border-color: rgba(19, 111, 98, 1);
}

.star {
	right: -1%;
	top: -20%;
	color: rgb(222, 145, 81);
	transform: translate(-1%, -20%);
	position: absolute;
	transition: opacity 0.3s ease;
}

.legend {
	width: 50%;
	position: absolute;
	top: 100px;
	right: 20px;
	font-variant: small-caps;
}
