@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
		url('../fonts/Montserrat-400.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
		U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
		url('../fonts/Montserrat-600.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
		U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Montserrat Bold'), local('Montserrat-Bold'),
		url('../fonts/Montserrat-700.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
		U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: local('Montserrat Black'), local('Montserrat-Black'),
		url('../fonts/Montserrat-900.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
		U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'HelveticaNeueLight';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url('../fonts/HelveticaLight.woff2') format('woff2');
}

@include font-face('Montserrat', '../fonts/Montserrat-400', 400);
@include font-face('Didact Gothic', '../fonts/DidactGothic-Regular', 400);
// @include font-face('Montserrat', '../fonts/Montserrat-600', 600);
// @include font-face('Montserrat', '../fonts/Montserrat-700', 700);
// @include font-face('Montserrat', '../fonts/Montserrat-900', 900);
// @include font-face('Montserrat', '../fonts/Montserrat-900', 900);
// @include font-face('HelveticaNeueLight', '../fonts/HelveticaLight', 300);
// @include font-face('HelveticaNeueThin', '../fonts/HevleticaThin', 300);
