/* Mixins:
  ========================================================================== */

// px to rem
@function rem($pixels, $context: $mainFontSize) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}
	@if (unitless($context)) {
		$context: $context * 1px;
	}
	@return $pixels / $context * 1rem;
}

// size to one line
@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}

// placeholder helper
@mixin placeholder {
	&::-webkit-input-placeholder {
		@content;
	}
	&:-moz-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
}

@mixin font-face(
	$font-family,
	$file-path,
	$weight: normal,
	$style: normal,
	$asset-pipeline: false
) {
	@font-face {
		font-family: $font-family;
		font-weight: $weight;
		font-style: $style;
		src: url('#{$file-path}.woff2') format('woff2');
	}
}
